@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap');

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  background-image: url('./images/pattern-background-mobile.svg');
  background-color: #d6e1ff;
  font-family: 'Red Hat Display', sans-serif; 
}  

.container {
  width: 327px;
  height: 567px;
  margin: 30px auto; 
  border-radius: 2px;
  background-color: #fff;
  border-radius: 20px;
}

.hero {
  margin-bottom: 32px;
}

.hero-img {
  width: 327px; 
  height: 160px;
  border-radius: 20px 20px 0px 0px;
}

.order-summary {
  margin: 0 20px;
}

h2 {
  font-weight: 900;
  font-size: 28px;
  color: #1f2e55;
  line-height: 37px;
  text-align: center;
  margin-bottom: 13px;
}

p {
  font-weight: 500;
  font-size: 16px;
  color: #717fa6;
  line-height: 26px;
  margin-bottom: 24px;
  text-align: center;
}

.plan {
  display: flex;
  justify-content: space-between;
  background-color: #f7f9ff;
  border-radius: 11px;
  padding: 17px 16px 16px 16px;
  margin-bottom: 24px;
}

.order-plan-type {
  font-weight: 900;
  font-size: 16px;
  line-height: 21.17px;
  color: #1f2e55;
  margin-bottom: 5px;
}

.order-plan-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 21.17px;
  color: #717fa6; 
}

.music-icon {
  margin-right: 20px;
}

.plan-left {
  display: flex;
}

.plan-right a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18.52px;
  color: #382ae1; 
  text-decoration: underline;
  margin-top: 10px;
}

.plan-right a:hover {
  cursor: pointer;
  color: #766cf1;
}

.complete-payment button {
  color: #fff; 
  border: #382ae1;
  background: #382ae1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 11px;
  margin-bottom: 24px;
  padding: 15px 64px;
  width: 100%;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
}

.complete-payment button:hover {
  cursor: pointer;
  background: #766cf1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);  
}

.cancel-payment {
  text-align: center;
}

.cancel-payment a {
  border: transparent;
  background-color: transparent;
  color: #717fa6; 
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
}

.cancel-payment a:hover {
  cursor: pointer;
  color: #1F2e55;
}


@media only screen and (min-width: 576px) {
  body {
    background-image: url('./images/pattern-background-desktop.svg');
  }  

  .container {
    width: 450px;
    height: 697px;
  }

  .hero {
    margin-bottom: 45px;
  }  

  .hero-img {
    width: 450px; 
    height: 220px;
  }

  h2 {
    margin-bottom: 17px;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    color: #717fa6;
    line-height: 26px;
    margin: 0 auto 20px auto;
    width: 354px;
    height: 78px; 
    text-align: center;
  }

  .plan {
    padding: 25px 24px;
    margin-bottom: 32px;
  }

  .complete-payment button {
    padding: 15px 102px;
    margin-bottom: 32px;
  }
}


